<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
  version="2.5">
  <servlet>
    <servlet-name>Nigori</servlet-name>
    <servlet-class>com.google.nigori.server.NigoriServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Nigori</servlet-name>
    <url-pattern>/nigori/*</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>

<!-- Internal administration servlets -->
  <security-constraint>
    <web-resource-collection>
      <url-pattern>/cron/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>admin</role-name>
    </auth-constraint>
  </security-constraint>
  <servlet>
    <servlet-name>nonces</servlet-name>
    <servlet-class>com.google.nigori.server.appengine.CleanNoncesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>nonces</servlet-name>
    <url-pattern>/cron/nonces</url-pattern>
  </servlet-mapping>
</web-app>
